* {
    background-color: burlywood;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-self: center;
    align-self: center;
    gap: 5px;
    border: 1px solid red;
    margin-top: 20px;
    
}

.boardSquare {
    display: grid;
    border: 2px solid black;
    height: 5px;
    width: 5px;
}